{% extends 'AppSTF/padre.html' %}
{% load static %}

{% block cuerpo %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <form action="" method="POST">   {% csrf_token %} 
                        {{form.as_p}}
                    
                        <button type="submit">Iniciar Sesión</button>
                    </form>
                    <a href="{% url 'Nuevo Usuario' %}">No tiene usuario. Registrese</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}