{% extends 'AppSTF/padre.html' %}
{% load static %}

{% block cuerpo %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    {% if datos %}
                        {% for m in datos %}
                            <h2> Cliente: {{m.cliente}}</h2>
                            <p> Estado: {{m.estado}}</p> 
                            <p> Tipo: {{m.tipo}}</p>
                            <p> Marca: {{m.marca}}</p> 
                            <p> Modelo: {{m.modelo}}</p> 
                            <p> Observaciones:</p> 
                                <p>{{m.obs}}</p> 
                            <p> Presupuesto: {{m.presupuesto}}</p> 
                            <button>
                                <a href="{% url 'Reparaciones lista' %}">Volver</a>
                            </button>
                            {% if user.is_authenticated %}
                                <button>
                                    <a href="{% url 'Reparaciones modificacion' m.id %}">Editar</a>
                                </button>
                                <button>
                                    <a href="{% url 'Reparaciones borrar' m.id %}">Eliminar</a>
                                </button>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}